<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/uber-front"></ion-back-button> <!-- Botón de regreso -->
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contact-content">
  <div class="contact-form-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" name="name" ngModel required></ion-input>
        <div *ngIf="contactForm.submitted && !contactForm.controls['name']?.valid" class="error-message">
          El nombre es obligatorio.
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" ngModel required email></ion-input>
        <div *ngIf="contactForm.submitted && !contactForm.controls['email']?.valid" class="error-message">
          Se requiere un email válido.
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mensaje</ion-label>
        <ion-textarea name="message" ngModel required></ion-textarea>
        <div *ngIf="contactForm.submitted && !contactForm.controls['message']?.valid" class="error-message">
          El mensaje es obligatorio.
        </div>
      </ion-item>

      <ion-button expand="full" type="submit" class="submit-button">Enviar</ion-button>
    </form>
  </div>
</ion-content>
